@import '../../styles/styles.colors.scss';

.panelTitle {
  // margin-bottom: 5rem;
}

.panelData {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  margin-bottom: 1rem;

  &__name {
    font-size: .75rem;
    font-weight: 400;
    // padding-left: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  &__value {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 3rem;
    font-weight: 600;
    text-align: right;
    padding-left: 2rem;
  }

  &__type {
    grid-row: 2/3;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    padding-top: 1rem;
    padding-left: 0.5rem;
    
  }

  &__valueError {
    @extend .panelData__value;
    color: $red;
  }

  &__typeError {
    @extend .panelData__type;
    color: $red;
  }
}
