@import '../../styles/styles.colors.scss';

.questions {
  padding: 2rem;
}

.QnA {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__question {
    align-self: center;
  }

  &__answer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    justify-self: center;
  }
}