.project {
  margin-top: 56rem;
  // border: 10px red solid;

  &__display {
    // border: 10px green solid;
    margin-left: 20rem;
    line-height: 8rem;
    cursor: pointer;

    h4 {
      // border: 10px blue solid;
      font-size: 3.2rem;
      font-weight: 600;
    }

    &__options {
      margin-right: 20rem;
      
      p {
        // border: lime 2px solid;
      }
    }
  }
}

.project__display__table {
  font-size: 2.4rem;
}
