$blue: #06038D;
$white: #FFFFFF;
$black_true: #000000;
$dark_blue: #232c39;
$grey: #C4C4C4;
$red: #ff0000;

// ARK STANDARD COLORS
$amenity: #F08A02;
$broadcast: #7030A0;
$circulation: $grey;
$lab: $red;
$meeting: #FFCC00;
$office_closed: $blue;
$office_open: #0097CC;
$support: #92D050;
$unplanned: $black_true;
