@import '../../styles/styles.colors.scss';

.nextbutton {

  padding-top: 4rem;

  button {

  border: 2px $blue solid;
  border-radius: 0px;
  color: $blue;
  width: auto;
  height: 4rem;
  font-size: 1.3rem;
  }
}

.backbutton {

  padding-top: 4rem;

  button {

  border: 2px $blue solid;
  border-radius: 0px;
  color: $blue;
  width: auto;
  height: 4rem;
  font-size: 1.3rem;
  }
}