@import '../../styles/styles.colors.scss';

.overridebutton {
  text-transform: capitalize !important;
  border: 3px $blue solid !important;
  border-radius: 0px !important;
  background-color: $white !important;
  color: $blue !important;
  width: 12rem !important;
  height: 4rem !important;
  font-size: 1.8rem !important;

  &__activated {
    @extend .overridebutton;
    background-color: $blue !important;
    color: $white !important;
  }
}

