.section {
  height: 100%;
  display:grid;
  grid-template-rows: 1fr 1fr;
  margin: 0 10rem;
  padding: 0 5rem;

  &__desc {
    text-align: center;
    align-self: center;
  }

  &__nav {
    align-self: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // justify-self: center;

    &__next {
    }

    &__back {
      justify-self: center;
    }
  }
}