@import '../styles/styles.colors.scss';
@import '../styles/styles.placeholders.scss';

.data {
  @extend .flex-grid;
  display: grid;
  grid-template-columns: 1fr auto auto;
  // line-height: 10rem;

  &__name {
    padding-right: 2rem;
  }

  &__value {
  }

  &__circle {
    visibility: hidden;
    height: 30px;
    width: 30px;
    border-radius: 99rem;
    align-self: center;
    background-color: $blue;
  }
}

.data:hover .data__circle {
  visibility: visible;
}



