@import '../styles/styles.colors.scss';

.panel {
  background-color: $blue;
  height: 100%;
  padding: 40px;
  font-weight: 700;
  font-style: normal;
  font-size: 7.2rem;
  line-height: 86px;
  min-width: 40rem;
  overflow-y: scroll;
  // scrollbar-color: red yellow ;
  // scrollbar-width: 50px;
  // &:-webkit-scrollbar              { width: 50px; }
  // &:-webkit-scrollbar-button       { /* 2 */ }
  // &:-webkit-scrollbar-track        { /* 3 */ }
  // &:-webkit-scrollbar-track-piece  { /* 4 */ }
  // &:-webkit-scrollbar-thumb        { /* 5 */ }
  // &:-webkit-scrollbar-corner       { /* 6 */ }
  // &:-webkit-resizer                { /* 7 */ }

  &__title {
    position: sticky;
  }

  &__content {
    margin-top: 10rem;
  }
}
