@import '../../styles/styles.colors.scss';

.tableCell {
  &__override {
    border: 0 !important;
    background-color: $white !important;
    color: $blue !important;
  }

  &__readonly {
    border: 0 !important;
    background-color: $blue !important;
    
    .input {
      form {
        .input__text {
          input {
            color: $white !important;
          }
        }
      }
    }

  }
}

.deleteKey {
  text-align: center;
}
