@import '../../styles/styles.colors.scss';

.page {
  color: $blue;
  background-color: $white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 15rem 1fr 15rem;

  h4 {
  }

  &__nav {
    position: fixed;
    bottom: 0;
    // right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;

    &__back {
      // padding-left: 2rem;
    }

    &__next {
      // padding-right: 2rem;
      justify-self: right;
    }
  }
}

.page__panel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: $white;
  color: $blue;
  width: 100%;
  height: 100%;
}

.header {
  text-align: right;
  padding-right: 4rem;

  &__company {
    font-size: 4.8rem;
    font-weight: 600;
    cursor: pointer;
  }

  &__program {
    font-size: 3.6rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  &__client {
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: capitalize;
  }
}
