@import '../../styles/styles.colors.scss';

.page {
  color: $blue;
  background-color: $white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;

  h4 {
    font-size: 4.6rem;
    font-weight: 600;
    padding-left: 24rem;
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__back {
      padding-left: 2rem;
    }

    &__next {
      padding-right: 2rem;
      justify-self: right;
    }
  }
}

.page__panel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: $white;
  color: $blue;
  width: 100%;
  height: 100%;
}

.header {
  text-align: right;
  padding-right: 4rem;

  &__company {
    font-size: 4.8rem;
    font-weight: 600;
  }

  &__program {
    font-size: 3.6rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  &__client {
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: capitalize;
  }
}
