@import '../../styles/styles.colors.scss';

.panel {
  background-color: $blue;
  color: $white;
  height: ;
  width: 100px;
  min-width: 45rem;
  padding: 40px;
  font-weight: 700;
  font-style: normal;
  font-size: 7.2rem;
  line-height: 86px;
  overflow-y: scroll;
  scrollbar-width: none;
  // scrollbar-color: red $blue;
  // scrollbar-arrow-color: red;
  // scrollbar-width: 100px;

  /*chrome*/
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  // /*firefox*/
  // &*{
  //   scrollbar-width: 100px;
  // }

  &__title {
    position: sticky;
    
  }

  &__content {
    margin-top: 10rem;
    // overflow-y: scroll;
  }
}
