.panelTitle {
  // margin-bottom: 5rem;
}

.panelData {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  margin-bottom: 1rem;

  &__name {
    // color: red;
    font-size: .75rem;
    font-weight: 400;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  &__value {
    // color: pink;
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    padding-left: 2rem;
  }
}