// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  :root {
    font-size: 8px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  :root {
    font-size: 10px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1440px) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 1800px) {
  :root {
    font-size: 24px;
  }
}
