// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // .app-content {
  //   margin: 3.125em 6.25rem;
  // }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  :root {
    font-size: 10px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 1800px) {
  :root {
    font-size: 24px;
  }
}
