$blue: #06038D;
$white: #FFFFFF;
$black_true: #000000;
$dark_blue: #232c39;

// STRATEGY STANDARD COLORS
$amenity: #F08A02;
$broadcast: #7030A0;
$circulation: #C4C4C4;
$lab: #ff0000;
$meeting: #FFCC00;
$office_open: #0097CC;
$support: #92D050;
$unplanned: #000000;
