$blue: #06038D;
$white: #FFFFFF;
$black_true: #000000;
$dark_blue: #232c39;

// STRATEGY STANDARD COLORS
$circulation: #C4C4C4;
$meeting: #FFCC00;
$office_open: #0097CC;
$planning: #C4C4C4;
$special: #F08A02;
$support: #92D050;
